.hero {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    max-height: 800px;
    position: relative;
    width: 100%;

    &__canvas {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__heading {
        border: 1px solid white;
        border-radius: 6px;
        color: white;
        font: {
            family: 'Roboto';
            size: 30px;
            weight: 100;
        }
        margin: 20px;
        padding: 15px 30px;
        text-align: center;
        z-index: 1;

        @include media('>=small') {
            font-size: 40px;
            padding: 20px 40px;
        }

        @include media('>=medium') {
            font-size: 50px;
            padding: 25px 50px;
        }

        @include media('>=large') {
            font-size: 60px;
            padding: 30px 60px;
        }
    }
}
